#About {
    padding: 10px 300px;
    background-color: rgb(230, 243, 255);
    /* background-color: rgba(0, 0, 0, 0.326); */
}

#AboutPart1 {

    display: flex;
    padding: 10px;
    /* background-color: rgb(164, 35, 35); */
}

#Aboutpart1-left {
    height: 100%;
    width: 50%;
    padding: 0px 25px;
    /* background-color: yellowgreen; */
}

#Aboutpart1-left img {
    height: 95%;
    margin-left: 70px;
    width: 65%;
    /* background-color: yellowgreen; */
}

#Aboutpart1-left img:hover {
    scale: 1.2;
    transition: all ease .2s;
}

#Aboutpart1-right {
    height: 100%;
    width: 60%;
    padding: 45px;
    text-align: left;
    color: beige;
    border-radius: 40px;
    background-color: #355561;
}

#Aboutpart1-right p {
    font-size: 22px;
}

/*  */
#AboutPart2 {
    
     padding: 20px;
    display: flex;
    color: beige;
    /* background-color: rgb(164, 35, 35); */
}

#Aboutpart2-left {
    height: 100%;
    width: 50%;
    padding: 40px;
    /* font-size: 20px; */
    border-radius: 20px;
    background-color: #f1af6c;
}

#Aboutpart2-left h3 {
    font-size: 22px;
    color: rgb(49, 38, 22);
}
#Aboutpart2-left h1{
     font-size: 40px;
}

#Aboutpart2-right img {
    height: 95%;
    margin-left: 70px;
    width: 65%;
    /* background-color: yellowgreen; */
}

#Aboutpart2-right img:hover {
    scale: 1.2;
    transition: all ease .2s;
}

#Aboutpart2-right {
    height: 100%;
    width: 60%;
    padding: 90px 80px;
    text-align: left;
    /* background-color: yellow; */
}

@media (max-width: 1440px) {
    #About {
        padding: 10px 0px;
    }


    #Aboutpart1-left,
    #Aboutpart2-left {
        width: 50%;
       
    }

    #Aboutpart1-right,
    #Aboutpart2-right {
        width: 50%;
        padding: 70px;
    }

    #Aboutpart1-left img,
    #Aboutpart2-right img {
        width: 80%;
      
    }

    #Aboutpart1-right h3,
    #Aboutpart2-left h3 {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    #About {
        padding: 10px 0px;
    }


    #Aboutpart1-left,
    #Aboutpart2-left {
        width: 50%;
        padding: 25px 23px;
    }

    #Aboutpart1-right,
    #Aboutpart2-right {
        width: 50%;
        padding: 25px 27px;
    }

    #Aboutpart1-left img,
    #Aboutpart2-right img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #Aboutpart1-right h3,
    #Aboutpart2-left h3 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    #About {
        padding: 10px 50px;
    }

    #AboutPart1 {
        flex-direction: column;
        height: auto;
    }
    #AboutPart2{
     
        flex-direction: column-reverse;
    }
    #Aboutpart1-left,
    #Aboutpart2-left {
        width: 100%;
        padding: 20px 0;
    }

    #Aboutpart1-right,
    #Aboutpart2-right {
        width: 100%;
        padding: 20px;
    }

    #Aboutpart1-left img,
    #Aboutpart2-right img {
        width: 50%;
        margin-left: 90px;
        /* margin-right: auto; */
    }

    #Aboutpart1-right p,
    #Aboutpart2-left p {
        font-size: 18px;
    }
}

/* Mobile devices */
@media (max-width: 480px) {
    #About {
        padding: 10px 20px;
    }

    #AboutPart1,
    #AboutPart2 {
        flex-direction: column;
        height: auto;
    }

    #Aboutpart1-left,
    #Aboutpart2-left {
        width: 100%;
        padding: 15px 0;
    }
    #AboutPart2{
        flex-direction: column-reverse;
    }

    #Aboutpart1-right h1 {
        text-align: center;
        font-size: 40px;
    }

    #Aboutpart1-right p {
        text-align: center;
        font-size: 0px;
    }

    #AboutPart1 #Aboutpart1-right,
    p {
        text-align: center;
        font-size: -5px;
    }

    #Aboutpart1-right,
    #Aboutpart2-right {
        width: 100%;
        padding: 15px;
    }

    #Aboutpart1-left img,
    #Aboutpart2-right img {
        width: 65%;
        margin-left: 75px;

    }

    #Aboutpart2-left h3 {
        text-align: center;
    }

    #Aboutpart2-left h1 {
        text-align: center;
    }

}