#Nav {
  height: 5rem;
  width: 100%;
  background-color: rgb(16, 33, 42);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}
#icons{
   /* height: 40%; */
   width: 70%;
   top: 0%;
   position: absolute;
   left: 30%;
   z-index: 9;
   display: none;
   border-bottom-right-radius: 1.1rem;
   background-color: rgb(74, 133, 128)
}
#Nav #nav1 h1 {
  cursor: pointer;
  color: aliceblue;
}

#nav2 ul {
  list-style: none;
  display: flex;
  gap: 40px;
  font-size: 20px;
}

#nav2 #hamburger {
  display: none;
  color: white;
}

#nav2 ul li a {
  text-decoration: none;
  color: white;
  font-weight: 545;
  transition: color 0.3s ease-in-out;
}

.active-link {
  padding: 12px;
  text-decoration: none;
  border-radius: 100px;
  border: 5px solid rgb(226, 144, 144);
}

.active-link:hover {

  border: 5px solid rgb(228, 169, 169);
}

@media (max-width: 1200px) {
  #Nav {
    padding: 0 50px;
  }
  #icons{
     display: none;
  }
  #nav2 ul {
    gap: 30px;
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  #Nav {
    padding: 0 20px;
  }

  #nav2 ul {
    gap: 20px;

    font-size: 16px;

  }
}

@media (max-width: 768px) {
  #Nav {
    padding: 0 15px;
  }
  #icons{
    display: none;
 }
  #nav2 ul {
    gap: 15px;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  #Nav {
    padding: 0 20px;
  }
  .active-link{
     text-decoration: none;
  }
  #nav2 ul {
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    text-align: center;
    padding: 0;
    margin: 0; /* To avoid any default padding/margin that may interfere with layout */
  }
 #icon-lower button{
    border: none;
    padding: 10px;
    
 }
  #nav2 ul li {
    display: none; /* Initially hide the list items */
  }

  #nav2 #hamburger,
  #hamburger2 {
    display: block; /* Display hamburger icons */
    font-size: 25px;
    font-weight: 800;
    cursor: pointer; /* Make it clickable */
  }
  #icons {
    display:initial;
    padding: 30px;
  }
  #icon-upper {
    display: flex;
    justify-content: flex-end;
  }
  #icon-lower {
    display: flex;
    padding: 25px;
    flex-direction: column;
    gap: 3.5rem;
    list-style: none;
    text-align: right;
    align-items: flex-end;
  }
  #icon-lower a{
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    font-weight: 550;
    padding: 10px;
  }
  .show-icons #icons {
    display: flex;
  }
  .show-icons #nav2 ul li {
    display: block; /* Show list items when hamburger menu is toggled */
  }
}
