#Profile{
     height: 58rem;
     width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
      /* background-color: aqua; */
}
#Profile i{
      font-size: 5rem;
}
#Profile button{ 
     padding: 15px;
     font-size: 20px;
     border-radius: 20px;
     background-color: white;
     border: 1.5px solid rgb(247, 114, 247) ;
     color:rgb(247, 114, 247);

}
#Profile button:hover{
     color:white;
     cursor: pointer;
     background-color: rgb(247, 114, 247);
     transition: all ease .2s;
}