#Viewmain{
      width: 100vw;
     /* background-color: palegreen; */
     padding: 50px;
     display: flex;
     gap: 15px;
}
#Viewmain-left
{
   height: 100%;
   width: 50%;
   background-color: rgb(240, 240, 226) ;
   display: flex;
   padding: 80px;
   border-radius: 20px;
   gap: 1.2rem;
   align-items: center;
   justify-content: space-around;   
   flex-direction: column;
}
#Viewmain-left-upper
{ 
   height: 40vh;
   width: 25vw;
   background-color: rgb(255, 255, 255);          
}
#Viewmain-left-bottom
{ 
   height: 15vh;
   width: 25vw;
   padding: 20px;
   border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: rgb(226, 225, 225);          
}
#Colorbox{
    cursor: pointer;
    height: 10vh;
    width: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 20px;
    background-color: aliceblue;
}
#Colorbox input{
    cursor: pointer;
     height: 40px;
     width: 20px;
}
#Viewmain-left-upper img{
     height: 100%;
     width: 100%;
     object-fit: cover;
}
#Viewmain-right{
    width: 50%;
    border-radius: 20px;
    padding: 30px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 13px;
    background-color: rgb(33, 73, 73) ; 
}
#stars{
      color:rgb(255, 255, 6);
      font-size: 20px;
}
#Viewman-right-upper{
     width: 100%;
     gap: 15px;
     display: flex;
     padding: 20px;
     flex-direction: column;
     border-radius: 20px;
     background-color: rgb(236, 221, 221);
}
#Viewman-right-upper h1,h2{
     font-size: 35px;
}
#Viewman-right-upper h4{
     background-color: #606060;
     color: white;
     width: 35%;
     font-weight: 100;
     padding: 9px 20px;
     border-radius: 20px;
}
#Viewmain-right-Middle{
     width: 100%;
     padding: 20px;
     display: flex;
     gap: 20px;
     border-radius: 20px;
     flex-direction: column;
     background-color: rgb(236, 221, 221);
}
#Viewmain-right-Lower{
    width: 100%;
    padding: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 20px;
   justify-content: space-between;
    background-color: #F4E1CE;
}
#Viewmain-right-Lower1{
      height: 250px;
      border-radius: 20px;
      width: 240px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background-color: rgb(255, 255, 255);
}
#Viewmain-right-Lower1 #eye{
      font-size: 40px;
      color: white;
      padding: 10px;
      border-radius: 10px;
      background-color: #355561;
}
#Viewmain-right-Lower1 #Link{
     text-decoration: none;
     color: #00588D;
     font-size: 17px;
     font-weight: 540;
}
#Viewmain-right-Lower2{
    width: 70%;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    justify-content: space-between;
    /* background-color: #fff; */
}
#Viewmain-right-Lower2 button{
     padding: 10px;
     font-weight: 200;
     border: none;
     font-size: 20px;
     border-radius: 20px;
     background-color: coral;
     color: beige;
}
#Viewmain-right-Lower2 button:hover{
     scale: 1.04;
     cursor: pointer;
     background-color: black;
     color:white;
     transition: all ease.2s;
}
@media(max-width:1440px){
      #Viewman-right-upper
      {
          gap: 7px;
      } 
      #Viewman-right-upper h1,h2{
         
           font-size: 29px;
      }
      #Viewman-right-upper h4{
          padding: 9px 9px;
          width: 21vw;
      }
      #Viewmain-right-Middle{
          padding: 11px;
          gap: 10px;
      }
      #Viewmain-right-Lower{
           height: 26vh;
      }
      #Viewmain-right-Lower1{
          height: 20vh;
          text-align: center;
          
      }
      #Viewmain-left{
           padding: 35px;
      }
      #Viewmain-left-bottom{
           width: 25vw;
      }
      #Colorbox{
          height: 8vh;
          width: 5vw;
      }
}
@media(max-width:1024px){
     #Viewman-right-upper
     {
         gap: 7px;
     } 
     #Viewman-right-upper h1,h2{
        
          font-size:24px;
     }
     #Viewman-right-upper h4{
          padding: 8px 10px;
          width: 29vw;
     }
     .para{
           font-size: .8rem;
     }
     #p {
          font-size: 14px;
      }
     #Viewmain-right-Middle{
         padding: 11px;
         gap: 10px;
     }
     #Viewmain-right-Lower{
          padding: 3%;
          width: 100%;
     }
     #Viewmain-right-Lower1{
          padding: 0px;
          text-align: center;
     }
     #Viewmain-right-Lower1 #eye {
          font-size: 20px;
     }
     #Viewmain-right-Lower1 h3 {
          font-size: 15px;
     }
     #Viewmain-right-Lower2 {
          width: 43vw;
     }
     #Viewmain-left{
          padding: 35px;
          
     }
     #Viewmain-left-upper{
     
          height:25vh
     }
     #Viewmain-left img{
          height: 100%;
          width: 100%;
          object-fit: cover;
     }
     #Viewmain-left-bottom{
          width: 28vw;
          padding: 0px;
     }
     #Colorbox{
         height: 8vh;
         width: 8vw;
     }
}

@media(max-width:768px){
     #Viewmain{
           flex-direction: column;
     }
     #Viewmain-right{
         /* height: 82vh; */
         width: 85vw;
     }
     #Viewman-right-upper
     {
         gap: 8px;
     } 
     #Viewman-right-upper h1,h2{
        
          font-size:25px;
     }
     #Viewman-right-upper h4{
          font-size: 15px;
          padding: 20px;
          width: 40vw;
     }
     #p {
          font-size: 14px;
      }
     #Viewmain-right-Middle{
         padding: 15px;
         gap: 10px;
     }
     #Viewmain-right-Lower{
          height: 18vh;
          width: 77vw;
          padding: 3%
     }
     #Viewmain-right-Lower1{
          height: 15vh;
          padding: 0px;
          text-align: center;
     }
     #Viewmain-right-Lower1 #eye {
          font-size: 20px;
     }
     #Viewmain-right-Lower1 h3 {
          font-size: 15px;
     }
     #Viewmain-right-Lower2 {
          height: 15%;
          width: 80vw;
     }
     #Viewmain-left-upper{
            width: 50vw;
     }
     #Viewmain-left {
          padding: 29px;
          width: 85vw;
          gap: 20px;
      }
     #Viewmain-left-bottom{
          width:51vw;
     }
     #Colorbox{
         height: 8vh;
         width: 12vw;
     }
}
@media(max-width:480px){
     #Viewmain{
           flex-direction: column;
           align-items: center;
     }
     #Viewmain-right{
         width: 85vw;
     }
     #Viewman-right-upper
     {
         gap: 3px;
     } 
     #Viewman-right-upper h1,h2{
        
          font-size:25px;
     }
     #Viewman-right-upper h4{
          font-size: 15px;
          padding: 15px;
          width: 56vw;
     }
     #p {
          font-size: 13px;
      }
     #Viewmain-right-Middle{
         padding: 15px;
         gap: 9px;
     }
     #Viewmain-right-Lower{
          height: 52vh;
          flex-direction: column;
          padding: 2%;
          justify-content: center;
     }
     #Viewmain-right-Lower1{
          height: 14vh;
          padding: 0px;
          text-align: center;
     }
     #Viewmain-right-Lower1 #eye {
          font-size: 20px;
     }
     #Viewmain-right-Lower1 h3 {
          font-size: 15px;
     }
     #Viewmain-right-Lower2 {
          height: 15%;
          width: 80vw;
     }
     #Viewmain-right-Lower2 button {
          width: auto;
          font-size: 15px;
     }
     #Viewmain-left-upper{
            width: 75vw;
     }
     #Viewmain-left-upper img{
          height: 35vh;
          width: 75vw;
   }
     #Viewmain-left {
          padding: 29px;
          width: 85vw;
          gap: 20px;
      }
     #Viewmain-left-bottom{
          width:76vw;
     }
     #Colorbox{
         width: 19vw;
     }
}
